*{
    font-family: 'Open Sans';
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: black;
}

body{
    padding: 20px 40px;
    font-family: 'Open Sans';

    @media screen and (max-width:800px){
        padding: 10px;
    }
}